<%= form_for(@ayudante) do |f| %>
  <% if @ayudante.errors.any? %>

    <div id="error_explanation">

<ul id="dropdown2" class="dropdown-content">
   
      <% @ayudante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <a class="btn center dropdown-button red" href="#!" data-activates="dropdown2">Error al guardar<i class="mdi-navigation-arrow-drop-down right "></i></a>



     
  <% end %>




<div class="row">
  
      <div class="row">
        <div class="input-field col s5 cyan-text text-lighten-4">
          <i class="material-icons prefix">account_circle</i>
          <%= f.label :nombre %><br>
          <%= f.text_field :nombre, :maxlength => 25 %>
        </div>

        <div class="input-field col s5 cyan-text text-lighten-4">
          <i class="material-icons prefix">account_circle</i>
          <%= f.label :apellido %><br>
          <%= f.text_field :apellido, :maxlength => 30 %>
        </div>
      </div>
  
  </div>

   <div class="row">
  
      <div class="row">
        <div class="input-field col s5 cyan-text text-lighten-4">
          <i class="material-icons prefix">account_circle</i>
          <%= f.label :rut %><br>
          <%= f.text_field :rut,:maxlength => 10 %>
          
        </div>
        <div class="input-field col s5 cyan-text text-lighten-4">
          <i class="material-icons prefix">markunread_mailbox</i>
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </div>
      </div>
  
  </div>



 

  <div class ="row">
      <div class="row">

           <div class="input-field col s5 cyan-text text-lighten-4">

              <div class="control-group">
                    <div class="controls">
                     <i class="material-icons prefix">business </i>
                     <%= f.select(:carrera, options_for_select([['Ingeniería Civil Electrónica/Mecánica','Ingeniería Civil Electrónica/Mecánica'],['Ingeniería Informática/Civil en Computación ', 'Ingeniería Informática/Civil en Computación'], ['Ingeniería Industrial/Civil Industrial', 'Ingeniería Industrial/Civil Industrial'],['Ingeniería Química/Química Industrial/Biotecnología','Ingeniería Química/Química Industrial/Biotecnología'], ['Ingeniería en Geomensura/Transporte y Tránsito','Ingeniería en Geomensura/Transporte y Tránsito'],['Otro','Otro']]), {  prompt: 'Carrera' }) %>
                    </div>
              </div>
        </div>
       
       <div class="input-field col s5 cyan-text text-lighten-4">
              <div class="control-group">
                    <div class="controls">
                     <i class="material-icons prefix">mode_edit</i>

                     <%= f.select(:asignatura, options_for_select([['Algebra I', 'Algebra I'], ['Calculo I', 'Calculo I'],['Química General', 'Química General'], ['Física Clásica', 'Física Clásica'], ['Otro', 'Otro']]), {  prompt: 'Asignatura' }) %>
                    </div>
              </div>
        </div>
      </div>
  </div>

         <div class="row">
           <div class = "button center col s5">
              <%=f.submit "Guardar" ,class:"btn center-align"%>


            </div>
           <div class = "button center col s5">
           <%= link_to 'Volver', welcome_index_path, class:"btn center-align"%>
           </div>
          </div>
  
  </div>



<% end %>



