<div class="row">
<h4 class="header blue-text text-darken-2">Contactanos</h4>
</div>

<div class="parallax" class="responsive-img"><%= image_tag("a13.jpg") %></div>


	<%= form_for @contact do |f| %>

	<% if @contact.errors.any? %>

    <div class="center"  id="error_explanation">
		    <ul  id="dropdown2" class=" dropdown-content">
   			    <% @contact.errors.full_messages.each do |message| %>
        		<li><%= message %></li>
      			<% end %>
      	</ul>
  			<a class="btn dropdown-button red"  data-activates="dropdown2">Error al guardar<i ></i></a>
  	</div>

    <% end %>

    <div class="row">
        <div class="center input-field col s12 m6 blue-text text-darken-2">
          <%= f.label :nombre %><br />
          <%= f.text_field :nombre,:maxlength => 30%>
        </div> 
    </div>

    <div class="row">
        <div class="center input-field col s12 m6 blue-text text-darken-2">
          <%= f.label :email %><br />
          <%=f.text_field :email,:maxlength => 30%>
        </div> 
    </div>



		<br>
		<br>

		<div class="row">
              	<div class="input-field col s7 blue-text text-darken-2">         
                  <label for="name">Mensaje</label>
                  </br></br>
                  <%=f.text_area :mensaje %>
        		</div>
        </div>


		<br>

		<div class="row">
           <div class = "button center col s5">
              <%=f.submit "Enviar" ,class:"btn center-align"%>
            </div>
        </div>

	<% end %>





