<div class="row ">
<div class= "center col s12 m4 l10">
<h1 class="header teal-text text-lighten-2">ยก Holanda</h1>

<div class= "row">
	<%= form_for @contact do |f| %>

	<% if @contact.errors.any? %>

    <div class="center"  id="error_explanation">
		    <ul  id="dropdown2" class=" dropdown-content">
   			    <% @contact.errors.full_messages.each do |message| %>
        		<li><%= message %></li>
      			<% end %>
      	</ul>
  			<a class="btn dropdown-button red"  data-activates="dropdown2">Error al guardar<i ></i></a>
  	</div>

    <% end %>



		<div class="row">
              	<div class="input-field col s6 cyan-text text-lighten-4">         
                  <label for="name">Nombre</label>
                  </br>
                  <%=f.text_field :nombre,:maxlength => 30%>
        		</div>
        </div>

		<br>

		<div class="row">
              	<div class="input-field col s6 cyan-text text-lighten-4">         
                  <label for="name">Correo</label>
                  </br>
                  <%=f.text_field :email,:maxlength => 30%>
        		</div>
        </div>

		<br>
		<br>

		<div class="row">
              	<div class="input-field col s7 cyan-text text-lighten-4">         
                  <label for="name">Mensaje</label>
                  </br></br>
                  <%=f.text_area :mensaje %>
        		</div>
        </div>
</div>

		<br>

		<div class="row">
           <div class = "button center col s5">
              <%=f.submit "Enviar" ,class:"btn center-align"%>
            </div>
        </div>

	<% end %>





